@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.b-form-content {
  position: relative;
  width: 400px;
  background-color: #fff;
  .b-heading {
    // border-bottom: 1px solid rgb(194, 191, 191);
    // width: 100%;
    .b-title {
      text-align: center;
      color: rgb(33, 114, 190);
      font-size: 25px;
      font-weight: 600;
    }
  }
  .b-information {
    padding: 5px 0;
    .b-title {
      float: left;
      padding: 0 20px;
      color: rgb(51, 124, 192);
      font-weight: 500;
      font-size: 18px;
      width: 150px;
    }
    .b-text {
      padding: 0 20px;
      color: rgba(28, 32, 36, 0.7);
      font-weight: 500;
      font-size: 16px;
    }
  }
  .b-content {
    .b-form {
      .form-group {
        padding: 4px 0;
      }
      .b-text {
        color: rgb(51, 124, 192);
        font-weight: 500;
        font-size: 18px;
        padding: 0 20px;
        width: 210px;
      }
      .text {
        float: left;
        color: rgb(51, 124, 192);
        font-weight: 500;
        font-size: 18px;
        padding: 0 20px;
      }
      .ip-time {
        outline: none;
        height: 35px;
        width: 190px;
      }
      .b-select {
        outline: none;
        border: 1px solid rgb(228, 222, 222);
        border-radius: 3px;
        height: 35px;
        width: 190px;
      }
      .b-area {
        margin-top: 10px;
        width: 77%;
        height: 100px;
        border: 1px solid rgb(228, 222, 222);
        border-radius: 3px;
        outline: none;
      }
      .btn-cancel {
        width: 110px;
        border: 1px solid rgb(104, 174, 240);
        border-radius: 50px;
        background-color: #fff;
        padding: 3px 0;
        color: rgb(51, 124, 192);
        margin: 0 5px;
        &:hover {
          color: #fff;
          background-color: rgb(104, 174, 240);
        }
      }
      .btn-submit {
        width: 110px;
        border: 1px solid rgb(104, 174, 240);
        border-radius: 50px;
        background-color: #fff;
        padding: 3px 0;
        color: rgb(51, 124, 192);
        &:hover {
          color: #fff;
          background-color: rgb(104, 174, 240);
        }
      }
    }
  }
}
.b-pagination {
  padding-top: 20px;
  .b-list-page {
    display: flex;
    justify-content: center;
    .btn-page {
      margin: 0px;
      padding: 10px 15px;
      color: #2962ff;
      background-color: white;
      font-weight: 700;
      border: 1px solid rgb(212, 209, 209);
      i {
        font-size: 12px;
      }
      &:hover {
        background-color: #2962ff;
        color: #fff;
      }
    }
  }
}
.b-admin {
  float: left;
  .btn-admin {
    width: 50px;
    background-color: #fff;
    margin: 5px 15px;
    border: 1px solid rgb(79, 123, 245);
    border-radius: 5px;
    i {
      font-size: 20px;
      color: rgb(79, 123, 245);
    }
    &:hover {
      background-color: rgb(79, 123, 245);
      i {
        color: #fff;
      }
    }
  }
}
.b-profile {
  background-color: #bedff5;
  .b-information {
    .b-title {
      width: 120px;
    }
  }
}
.b-table-container {
  .b-table {
    .b-title {
      .title {
        font-size: 25px;
        font-weight: 700;
        color: #2962ff;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
      }
    }
    .title-table {
      .item-table {
        font-size: 16px;
        font-weight: 500;
        color: rgb(79, 123, 245);
      }
    }
  }
}
.p-modal {
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: #fff;
  .title-form {
    font-size: 20px;
    color: #000;
  }
  .p-content {
    .form-group {
      .op-team {
        width: 100%;
        border-radius: 10px;
        padding: 6px;
        outline: none;
        border: 1px solid rgb(73, 70, 70);
        color: #000;
      }
      .form-search {
        outline: none;
        border: 1px solid rgb(73, 70, 70);
        width: 100%;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }
  .btn-wrap {
    justify-content: flex-end;
    text-align: right;
  }
}
// comemnt
// .current {
//   margin-left: 2px;
//   margin-right: 2px;
//  &:not(:last-child){
//   &::after {
//     font-family: "Font Awesome 5 Free";
//     content: "\f061";
//     font-weight: 900;
//   }
//  }
// }
