.b-right-content {
  position: relative;
  width: 100%;
  border: 1px solid rgb(219, 218, 218);
  background-color: #fff;
  margin-top: 5px;
  min-height: 100vh;
  box-shadow: 0 0 10px 2px rgb(219, 218, 218);
  .b-menu-container {
    position: relative;
    padding: 15px 0;
    .b-menu {
      @include flexbox();
      @include justify-content(space-around);
      border-bottom: 1px solid rgb(219, 218, 218);
      padding-bottom: 15px;
      
      .b-profile {
        .btn-profile {
          padding: 6px 0;
          width: 150px;
          background-color: #fff;
          outline: none;
          font-weight: 700;
          border-radius: 5px;
          border: 1px solid rgb(91, 167, 238);
          color: rgb(91, 167, 238);
          &:hover {
            color: #fff;
            background-color: rgb(91, 167, 238);
          }
        }
      }
      .btn-subcribe {
        width: 100px;
        background-color: #fff;
        outline: none;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid rgb(91, 167, 238);
        color: rgb(91, 167, 238);
        &:hover {
          color: #fff;
          background-color: rgb(91, 167, 238);
        }
      }
      .slt-option {
        width: 100px;
        background-color: #fff;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(91, 167, 238);
        color: rgb(91, 167, 238);
        font-weight: 700;
      }
      .btn-list {
        padding: 5px 0;
        font-weight: 700;
        width: 150px;
        background-color: #fff;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(91, 167, 238);
        color: rgb(91, 167, 238);
        &:hover{
          background-color: rgb(91, 167, 238);
          color: white;
        }
        &.active{
          background-color: rgb(91, 167, 238);
          color: #fff;
        }
        .b-warning{
          color: red;
          &.text{
            opacity: 0;
          }
        }
      }
      // .active,.btn-list:hover {
      //   background-color: rgb(91, 167, 238);
      //   color: white;
      // }
      .b-input {
        .b-search {
          padding: 0 5px;
          outline: none;
          border: 1px solid rgb(91, 167, 238);
          border-radius: 5px;
          height: 32px;
          color: rgb(91, 167, 238);
          font-size: 16px;
          font-weight: 500;
        }
        .btn-search {
          height: 32px;
          width: 40px;
          border-right: 1px solid rgb(91, 167, 238);
          background-color: rgb(91, 167, 238);
          border: none;
          border-radius: 2px;
          font-size: 18px;
          cursor: pointer;
          i {
            color: #fff;
          }
        }
      }
    }
    .b-form-container{    
      .b-form-content {
        position: relative;
        width: 420px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      
        .b-heading {
          padding-top: 20px;
          padding-bottom: 20px;
          .b-title {
            text-align: center;
            color: rgb(33, 114, 190);
            font-size: 25px;
            font-weight: 600;
          }
        }
        .b-information {
          padding: 5px 0;
          .b-title {
            float: left;
            padding: 0 20px;
            color: rgb(51, 124, 192);
            font-weight: 500;
            font-size: 18px;
            width: 150px;
          }
          .b-text {
            padding: 0 20px;
            color: rgba(28, 32, 36, 0.7);
            font-weight: 500;
            font-size: 16px;
          }
        }
        .b-content {
          position: relative;
          .b-form { 
            .b-text {
              color: rgb(51, 124, 192);
              font-weight: 500;
              font-size: 18px;
              padding: 0 20px;
              width: 110px;
            }
            .text {
              float: left;
              color: rgb(51, 124, 192);
              font-weight: 500;
              font-size: 18px;
              padding: 0 20px;
            }
            .ip-date {
              outline: none;
              border: 1px solid rgb(136, 129, 129);
              height: 35px;
              width: 50px;
            }
            .b-select {
              outline: none;
              border: 1px solid rgb(136, 129, 129);
              height: 35px;
              width: 100px;
            }
            .b-area {
              margin-top: 10px;
              width: 70%;
              height: 100px;
            }
            .btn-cancel {
              width: 110px;
              border: 1px solid rgb(104, 174, 240);
              border-radius: 50px;
              background-color: #fff;
              padding: 3px 0;
              color: rgb(51, 124, 192);
              &:hover {
                color: #fff;
                background-color: rgb(104, 174, 240);
              }
            }
            .btn-submit {
              width: 110px;
              border: 1px solid rgb(104, 174, 240);
              border-radius: 50px;
              background-color: #fff;
              padding: 3px 0;
              color: rgb(51, 124, 192);
              &:hover {
                color: #fff;
                background-color: rgb(104, 174, 240);
              }
            }
          }
        }
      }
    }
  }
}
