.right-content {
  position: relative;
  width: calc(100% - 250px);
  .wrap-container {
    margin-left: 3px;
    .wrap-form {
      padding: 20px;
      background-color: rgb(255, 249, 249);
      .p-title {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        margin-bottom: 30px;
        box-shadow: 0 0 10px -2px rgb(180, 169, 169);
        background-color: rgb(255, 255, 255);
        padding: 5px 20px;
        .menu-list {
          position: relative;
          .p-absence {
            .far {
              font-size: 18px;
              color: #02a959;
            }
          }
          .title {
            margin-top: 10px;
            .heading-3 {
              @include rem("font-size", 22);
              font-family: "Roboto Bold";
            }
          }
          .search {
            input {
              padding: 5px 20px;
              border-radius: 50px;
              border: 1px solid #000;
              outline: none;
            }
            button {
              position: absolute;
              right: 0px;
              top: 1px;
              padding: 5px 8px;
              .fas {
                @include rem("font-size", 16);
                color: $cl-main;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      .p-table {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px -2px rgb(180, 169, 169);
        .table {
          position: relative;
          height: 100%;
          width: 100%;
          min-height: 4px;
          bottom: 0;
          .table-header {
            min-width: 100%;
          }
          th {
            border-right: 1px solid #000;
            background-color: #02a959;
            color: #000;
            text-align: center;
            min-width: 80px;
            border: 1px solid #000;
          }
          tr {
            .description {
              white-space: nowrap;
              overflow: hidden;
              max-width: 150px;
              text-overflow: ellipsis;
              color: #000;
              font-family: "Roboto";
              min-width: 80px;
              border: 1px solid #999;
            }
            .description-date {
              color: #000;
              font-family: "Roboto";
              border: 1px solid #999;
            }
          }
          td {
            font-family: "Roboto-Light";
            color: #02a959;
          }
        }
        .p-scrollbar {
          position: relative;
          overflow-x: scroll;
          display: inline-block;
          height: 100%;
          width: 100%;
          min-height: 4px;
          bottom: 0;
        }
      }
      .p-modal {
        width: 40%;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        margin-top: 50px;
        box-shadow: 0 0 5px 0 #999;
        padding: 20px;
        background-color: #fff;
        .title-form {
          @include rem("font-size", 20);
          color: $cl-main;
        }
        .p-content {
          .form-group {
            .op-team {
              width: 100%;
              border-radius: 10px;
              padding: 6px;
              outline: none;
              border: 1px solid rgb(73, 70, 70);
            }
            .form-search {
              outline: none;
              border: 1px solid rgb(73, 70, 70);
              width: 100%;
              border-radius: 10px;
              padding: 5px;
            }
          }
        }
        .btn-wrap {
          justify-content: flex-end;
          text-align: right;
        }
      }
    }
  }
}
.fc {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.15);
}
.table-wrapper {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
  }
  .first-col {
    max-width: 20px;
    left: 0;
    border: 1px solid #000;
  }
  .second-col {
    width: 100%;
    left: 80px;
  }
  th,
  td:first-child {
    width: 20px;
  }
}
.p-tags {
  border: 1px solid #000;
  padding: 5px 20px;
  border-radius: 10px;
  outline: none;
  color: #000;
  option {
    color: #000;
  }
}
.menulayout {
  @include flexbox();
  @include justify-content(white-space);
  @include align-items(center);
  // margin: 10px 10px;
  .p-menu {
    margin: 5px;
    .tag {
      color: #02a959;
      font-size: 18px;
      &:hover {
        outline: none;
      }
    }
  }
}
.btn-s {
  background-color: #02a959;
  margin-bottom: 5px;
  color: #fff;
  outline: none;
  &:hover {
    background-color: #fff;
    border: 1px solid #02a959;
    color: #000;
  }
}
.p-search {
  border-radius: 3px;
  margin-top: 5px;
  .op-search {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #02a959;
  }
  .f-search {
    display: inline-block;
    margin: 2px;
    input {
      border: 1px solid #999;
      padding: 4px;
    }
  }
}
.first-col {
  width: 20px;
}
.p-search {
  border: 1px solid #999;
  padding: 4px;
}

.p-hoverdate {
  height: 20px;
  .hover-date {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 130px;
  }
  &:hover {
    cursor: pointer;
    // height: 20px;
    .hover-date {
      visibility: visible;
      opacity: 1;
    }
  }
}
