// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese");
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face{
    font-family: "Roboto Bold";
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face{
    font-family: "Awesome";
    src:  url('../fonts/fa-solid-900.ttf');
}
@font-face{
    font-family: "Lato Reg";
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: "Lato Bold";
    src:  url('../fonts/Lato-Bold.ttf');
}
// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/fonts";
@import "base/utility";
@import "base/button";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/header";
@import "layout/header-t";
@import "layout/footer";
@import "layout/siderbar";
@import "layout/sidebar-menu";
@import "layout/table";
@import "pages/admin";
// ----------------------------------------------------------------------
// Custom
// ----------------------------------------------------------------------
@import "custom/custom-plugin";

// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "pages/homepage";
@import "pages/loginpage";
@import "pages/menu";
@import "layout/scroll";
// ----------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------
@import "responsive/responsive";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.b-form-content {
  position: relative;
  width: 450px;
  background-color: #fff;
  margin-left: 10px;
  .listdate {
    display: block;
    .item {
      @include flexbox();
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 1px solid rgb(104, 174, 240);
      text-align: center;
      width: 80%;
      margin-left: 50px;
      margin-bottom: 15px;
      .content {
        width: 70%;
        @include flexbox();
        padding: 10px 0 0 0;
        .text-norm {
          margin-left: 5px;
          margin-right: 5px;
          width: 90%;
        }
      }
      .group-button {
        width: 30%;
        .b-btn{
          background-color: #fff;
          border-radius: 10px;
          border: 1px solid rgb(33, 114, 190);
          padding:  0 10px;
          color: #2962ff;
          cursor: pointer;
        }
      }
    }
  }
  .b-heading {
    // border-bottom: 1px solid rgb(194, 191, 191);
    // width: 100%;
    .b-title {
      text-align: center;
      color: rgb(33, 114, 190);
      font-size: 25px;
      font-weight: 600;
    }
  }
  .b-information {
    padding: 5px 0;
    .b-title {
      float: left;
      padding: 0 20px;
      color: rgb(51, 124, 192);
      font-weight: 500;
      font-size: 18px;
      width: 150px;
    }
    .b-text {
      padding: 0 20px;
      color: rgba(28, 32, 36, 0.7);
      font-weight: 500;
      font-size: 16px;
    }
  }
  .b-content {
    .b-form {
      .form-group {
        padding: 4px 0;
      }
      .b-text {
        color: rgb(51, 124, 192);
        font-weight: 500;
        font-size: 18px;
        padding: 0 20px;
      }
      .text {
        float: left;
        color: rgb(51, 124, 192);
        font-weight: 500;
        font-size: 18px;
        padding: 0 20px;
      }
      .ip-time {
        outline: none;
        height: 35px;
        width: 190px;
      }
      .b-select {
        outline: none;
        border: 1px solid rgb(228, 222, 222);
        border-radius: 3px;
        height: 35px;
        width: 120px;
        // margin: 0 1px;
        &.select-1{
          width: 174px;
        }
      }
      .b-option{
        padding: 15px 0;
        .form-group{
          float: left;
          .b-text{
            width: 80px;
            margin: 0 5px;
          }
        }
        .b-slt{
          width: 75%;
        }
      }
      .b-area {
        margin-top: 10px;
        width: 77%;
        height: 100px;
        border: 1px solid rgb(228, 222, 222);
        border-radius: 3px;
        outline: none;
      }
      .btn-cancel {
        width: 110px;
        border: 1px solid rgb(104, 174, 240);
        border-radius: 50px;
        background-color: #fff;
        padding: 3px 0;
        color: rgb(51, 124, 192);
        margin: 0 5px;
        &:hover {
          color: #fff;
          background-color: rgb(104, 174, 240);
        }
      }
      .btn-submit {
        width: 110px;
        border: 1px solid rgb(104, 174, 240);
        border-radius: 50px;
        background-color: #fff;
        padding: 3px 0;
        color: rgb(51, 124, 192);
        &:hover {
          color: #fff;
          background-color: rgb(104, 174, 240);
        }
      }
    }
  }
}
.btn-search {
  margin-left: -7px;
  height: 35px;
  width: 40px;
  border: 1px solid rgb(209, 215, 221);
  background-color: rgb(91, 167, 238);
  border-radius: 2px;
  i {
    color: #fff;
  }
  &:hover {
    background: #fff;
    i {
      color: rgb(91, 167, 238);
    }
  }
}
.google-login {
  .b-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background: #fff;
      border: none;
      color: #2962ff;
    }
    .title {
      color: #2962ff;
      font-size: 17px;
    }
  }
}
.b-pagination {
  padding-top: 20px;
  .b-list-page {
    display: flex;
    justify-content: center;
    .btn-page {
      margin: 0px;
      padding: 10px 15px;
      color: #2962ff;
      background-color: white;
      font-weight: 700;
      border: 1px solid rgb(212, 209, 209);
      i {
        font-size: 12px;
      }
      &:hover {
        background-color: #2962ff;
        color: #fff;
      }
    }
  }
}
.b-admin {
  float: left;
  margin-top: 3px;
  .btn-admin {
    width: 50px;
    background-color: #fff;
    margin: 5px 15px;
    border: 1px solid rgb(79, 123, 245);
    border-radius: 5px;
    float: left;
    i {
      font-size: 20px;
      color: rgb(79, 123, 245);
    }
    &:hover {
      background-color: rgb(79, 123, 245);
      i {
        color: #fff;
      }
    }
  }
}
.b-content {
  position: relative;
  .b-form {
    .day-type {
      padding: 4px 0;
      opacity: 1;
      .form-group {
        margin-top: -10px;
        float: left;
        .btn-plus {
          border: 1px solid rgb(190, 188, 188);
          background-color: #fff;
          cursor: pointer;
          i{
            color: rgb(190, 188, 188);
          }
        }
      }
      &.check-box {
        margin-top: -30px;
        opacity: 0;
      }
      .btn-add {
        background-color: #fff;
        border: 1px solid rgb(231, 227, 227);
        margin-left: 25px;
      }
    }
    .form-date {
      opacity: 1;
      &.check-box {
        margin-top: -160px;
        opacity: 0;
      }
    }
  }
}
.b-table-container {
  .b-table {
    .b-title {
      .title {
        font-size: 25px;
        font-weight: 700;
        color: #2962ff;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
      }
    }
    .b-select{
      text-align: right;
      margin: 0 15px;
      margin-top: -55px;
      margin-bottom: 15px;
      .slt-search{
        float: right;
        height: 32px;
        margin: 0 5px;
        outline: none;
        border: 1px solid #2962ff;
        color: #2962ff;
      }
      .b-search {
        margin: 0 5px;
        width: 177px;
        outline: none;
        border: 1px solid rgb(230, 238, 238);
        border-radius: 5px;
        height: 32px;
        color: #2962ff;
        font-size: 14px;
        font-weight: 400;
      }
      .btn-search {
        position: relative;
        height: 32px;
        width: 40px;
        border: 1px solid rgb(91, 167, 238);
        background-color: rgb(91, 167, 238);
        border: none;
        border-radius: 2px;
        font-size: 18px;
        cursor: pointer;
        i {
          color: #fff;
        }
        &:hover{
          border: 1px solid rgb(91, 167, 238);
          background-color: #fff;
          i{
            color: rgb(91, 167, 238);
          }
        }
      }
    }
    .table {
      width: 100%;
      .title-table {
        .item-table {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          border-right: 1px solid #fff;
          background-color: #2962ff;
          &.second-col{
            width: 10%;
          }
          &.details{
            width: 8%;
          }
          &.time {
            border-bottom: 1px solid #fff;
          }
          &.at-time{
            width: 10%;
          }
          &:last-child {
            border-right: none;
          }
          .time-type {
            width: 100%;
            @include flexbox();
            @include justify-content(space-around);
            @include align-items(center);
            height: 50px;
            padding: 0 15px;
            margin-bottom: -15px;
            .item-date {
              width: 100px;
              .date3 {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    .name-item {
      text-align: center;
      border-right: 1px solid rgb(224, 220, 220);
      font-weight: 400;
      color: #000;
      .type {
        @include flexbox();
        @include justify-content(space-around);
        .list-item1 {
          width: 100%;
          text-align: center;
        }
        .list-3 {
          width: 100px;
        }
      }
      &.item-1{
        width: 150px;
        .btn-edit{
          margin: 0 5px;
          cursor: pointer;
          background-color: #fff;
          color: #2962ff;
          border: 1px solid #2962ff;
          padding: 5px;
          font-weight: 500;
          border-radius: 2px;
          &:hover{
            background-color: #2962ff;
            color: #fff;
          }
        }
        .btn-edit-2{
          cursor: pointer;
          background-color: #fff;
          color: #fa1d1d;
          border: 1px solid #fa1d1d;
          padding: 5px;
          font-weight: 500;
          border-radius: 2px;
          &:hover{
            background-color: #fa1d1d;
            color: #fff;
          }
        }
      }
      
    }
    .description{
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: #000;
      border-right: 1px solid rgb(247, 245, 245);;
      background-color: 000;
      .btn-edit{
        border: none;
        cursor: pointer;
        background-color: #fff;
        color: #2962ff;
        border: 1px solid #2962ff;
        padding: 5px;
        font-weight: 500;
        border-radius: 2px;
        &:hover{
          background-color: #2962ff;
          color: #fff;
        }
      }
      &.details{
        width: 15%;
      }
    }
  }
}

.form-group {
  .btn-plus {
    border: 1px solid rgb(221, 216, 216);
    background-color: #fff;
    margin: 0 5px;
  }
}
.b-modal{
  .form-accept{
  
    .b-title{
      text-align: center;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      color: #2962ff;
    }
    .btn-close{
      text-align: right;
      margin-top: -35px;
      .b-close{
        border: none;
        cursor: pointer;
        background-color: #fff;
        i{
          font-size: 20px;
          color: #2962ff;
        }
      }
    }
    .b-text{
      float: left;
      margin: 0 10px;
      margin-top: 20px;
      color: #2962ff;
      font-size: 16px;
      font-weight: 500;
    }
    .b-comment{
      position: relative;
      height: 120px;
      width: 75%;
      margin-top: 20px;
      outline: none;
    
    }
    .validation {
      text-align: center;
      font-weight:400;
      font-size:13px;
      color: #DE5959;
    }
    .b-btn{
      text-align: center;
      .btn-save{
        margin: 0 5px;
        color: #49ee28;
        border: 1px solid #49ee28;
        background: #fff;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 500;
        &:hover{
          color: #fff;
          background: #49ee28;
        }
      }
      .btn-disaccept{
        margin: 0 5px;
        color: #f73224;
        border: 1px solid #f73224;
        background: #fff;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 500;
        &:hover{
          color: #fff;
          background: #f73224;
        }
      }
      .btn-accept{
        color: #2962ff;
        border: 1px solid #2962ff;
        background: #fff;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 500;
        &:hover{
          color: #fff;
          background: #2962ff;
        }
      }
    }
  }
}
.b-fullcalendar{
  .b-title{
    text-align: center;
    .title{
      font-size: 25px;
        font-weight: 700;
        color: #2962ff;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
    }
  }
  .b-back{
    text-align: right;
    margin: 0 15px;
    margin-top: -55px;
    margin-bottom: 15px;
    .btn-back{
      color: #2962ff;
      border: 1px solid #2962ff;
      background: #fff;
      padding: 5px 10px;
      cursor: pointer;
      font-weight: 500;
      &:hover{
        color: #fff;
        background: #2962ff;
      }
      i{
        padding: 0 5px;
      }
    }
  }
}
.b-right-content{
  .wrap-container {
    .wrap-form {
      .b-title {
        .title {
          font-size: 25px;
          font-weight: 700;
          color: #2962ff;
          text-transform: uppercase;
          text-align: center;
          padding: 10px 0;
        }
      }
      .b-table {
        width: 100%;
        background-color: #fff;
        .table {
          position: relative;
          height: 100%;
          width: 100%;
          min-height: 10px;
          bottom: 0;
          .table-header {
            min-width: 100%;
          }
          th {
            border-right: 1px solid #fff;
            background-color: #2962ff;
            color: #fff;
            text-align: center;
            min-width: 80px;
            border: 1px solid #999;
          }
          tr {
            .description {
              white-space: nowrap;
              overflow: hidden;
              max-width: 40%;
              text-overflow: ellipsis;
              color: #000;
              font-family: "Roboto";
              min-width: 80px;
              border: 1px solid #999;
              text-align: center;
            }
          }
          td {
            font-family: "Roboto-Light";
            color: #2962ff;
          }
        }
        // .b-scrollbar {
        //   position: relative;
        //   overflow-x: scroll;
        //   display: inline-block;
        //   height: 100%;
        //   width: 100%;
        //   min-height: 4px;
        //   bottom: 0;
        // }
      }
    }
  }
}
