// ----------------------------------------------------------------------
// Font
// ----------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese');
@font-face{
    font-family: "Roboto";
    src: url('/fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: "Roboto Bold";
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face{
    font-family: "Awesome";
    src:  url('/fonts/fa-solid-900.ttf');
}
@font-face{
    font-family: "Lato Reg";
    src: url('../fonts/Lato-Regular.ttf');
}
@font-face{
    font-family: "Lato Bold";
    src:  url('../fonts/Lato-Bold.ttf');
}
// ----------------------------------------------------------------------
// Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/fonts";
@import "base/utility";
@import "base/button";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "layout/header";
@import "layout/header-t";
@import "layout/footer";
@import "layout/siderbar";
@import "layout/sidebar-menu";
@import "layout/table";
@import "pages/admin";
// ----------------------------------------------------------------------
// Custom
// ----------------------------------------------------------------------
@import "custom/custom-plugin";

// ----------------------------------------------------------------------
// Pages
// ----------------------------------------------------------------------
@import "pages/homepage";
@import "pages/loginpage";
@import "pages/menu";
@import "layout/scroll";
// ----------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------
@import "responsive/responsive";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.b-form-content {
    position: relative;
    width: 450px;
    background-color: #fff;
    margin-left: 10px;
    .b-heading {
        // border-bottom: 1px solid rgb(194, 191, 191);
        // width: 100%;
        .b-title {
            text-align: center;
            color: rgb(33, 114, 190);
            font-size: 25px;
            font-weight: 600;
        }
    }
    .b-information {
        padding: 5px 0;
        .b-title {
            float: left;
            padding: 0 20px;
            color: rgb(51, 124, 192);
            font-weight: 500;
            font-size: 18px;
            width: 150px;
        }
        .b-text {
            padding: 0 20px;
            color: rgba(28, 32, 36,.7);
            font-weight: 500;
            font-size: 16px;
        }
    }
    .b-content {
        .b-form {
            .form-group {
                padding: 4px 0;
            }
            .b-text {
                color: rgb(51, 124, 192);
                font-weight: 500;
                font-size: 18px;
                padding: 0 20px;
                width: 210px;
            }
            .text{
                float: left;
                color: rgb(51, 124, 192);
                font-weight: 500;
                font-size: 18px;
                padding: 0 20px;
            }
            .ip-time{
                outline: none;
                height: 35px;
                width: 190px;
            }
            .b-select{
                outline: none;
                border: 1px solid rgb(228, 222, 222);
                border-radius: 3px;
                height: 35px;
                width: 190px;
            }
            .b-area{
                margin-top: 10px;
                width: 77%;
                height: 100px;
                border: 1px solid rgb(228, 222, 222);
                border-radius: 3px;
                outline: none;
            }
            .btn-cancel{
                width: 110px;
                border: 1px solid rgb(104, 174, 240);
                border-radius: 50px;
                background-color: #fff;
                padding: 3px 0;
                color: rgb(51, 124, 192);
                margin: 0 5px;
                &:hover{
                    color: #fff;
                    background-color: rgb(104, 174, 240);
                }
            }
            .btn-submit{
                width: 110px;
                border: 1px solid rgb(104, 174, 240);
                border-radius: 50px;
                background-color: #fff;
                padding: 3px 0;
                color: rgb(51, 124, 192);
                &:hover{
                    color: #fff;
                    background-color: rgb(104, 174, 240);
                }
            }
        }
    }
}
.btn-search{
    margin-left: -7px;
    height: 35px;
    width: 40px;
    border: 1px solid rgb(91, 167, 238);
    background-color: rgb(91, 167, 238);
    border-radius: 2px;
    i{
        color: #fff;
    }
    &:hover{
        background: #fff;
        i{
            color: rgb(91, 167, 238);
        }
    }
}
.google-login{
    .b-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            background: #fff;
            border: none;
            color:  #2962FF;
        }
        .title{
            color:  #2962FF;
            font-size: 17px;
        }
    }
    
}
.b-pagination{
    padding-top: 20px;
    .b-list-page{
        display: flex;
        justify-content: center;
        .btn-page{
            
            margin: 0px;
            padding: 10px 15px;
            color: #2962FF;
            background-color: white; 
            font-weight: 700;
            border: 1px solid rgb(212, 209, 209);
            i{
                font-size: 12px;
            }
            &:hover{
                background-color: #2962FF;
                color: #fff; 
            }
        }
    }
}
.b-admin{
    float: left;
    margin-top: 3px;
    .btn-admin{
        width: 50px;
        background-color: #fff;
        margin: 5px 15px;
        border: 1px solid rgb(79, 123, 245);
        border-radius: 5px;
        float: left;
        i{
            font-size: 20px;
            color: rgb(79, 123, 245);
        }
        &:hover{
            background-color:rgb(79, 123, 245);
            i{
                color: #fff;
            }
        }
    }
}
// .b-profile{
//     height: 320px;
//     background-color: #bedff5;
//     .b-information{
//         .b-title{
//             width: 120px;
//             margin: 10px 0;
//         }
        
//     }
// }
.b-table-container{
    .b-table{
        .b-title{
            .title{
                font-size: 25px;
                font-weight: 700;
                color: #2962FF;
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
            }
        }
        .table{
            width: 100%;
            .title-table{
                .item-table{
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    border-right: 1px solid #fff;
                    background-color: #2962FF;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
        .name-item{
            border-right: 1px solid #fff;
        }
    }
}



